
#logoutBtn{
    float:right;
}

#notifications{
    float: right;
    height: 30px;
    margin-right: 10px;
}

.btn {
    line-height: 25px;
    display: inline-block;
    padding: 0 25px;
    cursor: pointer;
    color: #fff;
    font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    font-size: 14px;
    font-weight: 700;
  }
  
  .btn--radius {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 5px;
  }
  
  .btn--black {
    background: black;
  }

 
  

.jumbotron {
    margin-bottom: 0px;
    background: linear-gradient(to right, rgb(240, 248, 255), rgb(240, 248, 255));
}
