.filter {
    float: left;
    width: 150px;
    margin-top: 55px;
}

.filter>select {
    margin-bottom: 10px;
}

.filter {
    margin-left: 20px;
}

.result {
    display: flex;
    flex-direction: column;
}