nav {
    background-color: #d9edfc;
}

nav>img {
    width: 100px;
    height: 60px;
}

button {
    border-radius: unset;
}

.navbar-text {
    margin-right: 70px;
}

#notifications {
    float: right;
    height: 30px;
    margin-right: -50px;
    margin-top: -40px;
    cursor: pointer;
}

.circle {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: #117a8b;
    color: white !important;
    border: 2px solid #fff;
    color: #666;
    text-align: center;
    position: absolute;
    right: 38px;
    top: 20px;
    font-size: 10px;
}