<div class="page-wrapper bg p-t-180 p-b-100 font-robo">
    <div class="wrapper wrapper--w960">
        <div class="card card-2">
            <div class="card-body">
                <h2 class="title">Registration Info</h2>
                <form [formGroup]="registrationForm" id="regForm">
                    <div id="errorMessage" *ngIf="regError">Please, field the form with correct data!</div>
                    <div class="input-group">
                        <input class="input--style-2" type="text" placeholder="Name*" formControlName="username" required>
                    </div>
                    <div class="input-group">
                        <input class="input--style-2" type="password" placeholder="Password*" formControlName="password" required>
                    </div>
                    <div class="input-group">
                        <input class="input--style-2" type="text" placeholder="First Name*" formControlName="firstName" required>
                    </div>
                    <div class="input-group">
                        <input class="input--style-2" type="text" placeholder="Last Name*" formControlName="lastName" required>
                    </div>
                    <div class="input-group">
                        <input class="input--style-2" type="text" placeholder="Phone number*" formControlName="phoneNumber" required>
                    </div>
                    <div class="input-group">
                        <input class="input--style-2" type="text" placeholder="Email*" formControlName="email" required>
                    </div>
                    <div class="input-group">
                        <input class="input--style-2" type="text" placeholder="Address*" formControlName="address" required>
                    </div>
                    <div class="input-group">
                        <input class="input--style-2" type="date" placeholder="Birthday*" formControlName="birthday" required>
                    </div>

                    <div class="genderRadioBtns">
                        <input type="radio" id="male" name="gender" formControlName="gender" class="input-group-radio" value="MALE">
                        <label for="male">Male</label>

                        <input type="radio" id="female" name="gender" formControlName="gender" class="input-group-radio" value="FEMALE">
                        <label for="female">Female</label>
                    </div>
                    <div>
                        <input type="checkbox" [checked]="agreeGDPR" (change)="agreeGDPR = !agreeGDPR" class="input-group-checkbox" name="gdpr" />
                        <label for="gdpr"><button>I agree my data will be consumed according
                                GDPR.</button></label>
                    </div>
                    <div>
                        <input type="checkbox" [checked]="agreePolicies" (change)="agreePolicies = !agreePolicies" class="input-group-checkbox" name="policies" />
                        <label for="policies"><button>I agree according to the website
                                policies.</button></label>
                    </div>
                    <div class="p-t-30">
                        <button class="btn btn--radius btn--green" type="submit" (click)="sumbitData()">Register</button>
                    </div>
                </form>
            </div>
            <img class="image-card" src="../../assets/images/logo.png">
        </div>
    </div>
</div>